

#auth{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .auth-container{
        width: 1320px;
        margin: 0 auto;
    }

    .auth{
        flex: 1 0 auto;
        display: flex;
        align-items: center;
    }

    .main__wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;

        .auth-form{
            padding: 25px;
            background-color: $light2-grey;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            width: 426px;
            min-height: 484px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;


            .title{
                font: 24px Inter-Medium, sans-serif;
                margin-bottom: 20px;
            }

            .form-control{
                width: 100%;
                height: 54px;
                padding-left: 54px;
                border: 2px solid $grey;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
                outline: none;
                position: relative;

                &:focus{
                    border-color: $accent;
                    box-shadow: 0 0 10px $light-accent;
                }
            }

            .is-invalid{
                background-color: #ffeaea !important;
                border-color: #f66666 !important;

                &:focus{
                    border-color: #f66666 !important;
                    box-shadow: 0 0 10px #f66666 !important;
                }
            }

            .error-text{
                color: #f66666;
            }

            .remember{
                position: relative;
                margin-bottom: 20px;

                .form-checkbox{
                    width: 0;
                    height: 0;
                    position: absolute;

                    &:checked + label::before{
                        background: url("../images/icons/tick.svg") no-repeat center center / cover;
                        background-color: $accent;
                        border-color: $accent;
                    }

                    &:focus + label::before{
                        border-color: $accent;
                        box-shadow: 0 0 10px $accent;
                    }
                }

                label{
                    padding-left: 25px;

                    &::before{
                        content: '';
                        width: 14px;
                        height: 14px;
                        border: 2px solid $grey;
                        -webkit-border-radius: 3px;
                        -moz-border-radius: 3px;
                        border-radius: 3px;
                        position: absolute;
                        left: 0;
                    }
                }
            }

            .input-date{
                background: url('../images/icons/date.svg') #fff 15px 50% no-repeat;
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                padding-right: 20px;
                color: $dark1-grey;
            }

            .input-phone{
                background: url("../images/icons/phone.svg") #fff 15px 50% no-repeat;
            }

            .input-email{
                background: url("../images/icons/email.svg") #fff 15px 50% no-repeat;
            }

            .input-password{
                background: url("../images/icons/password.svg") #fff 15px 50% no-repeat;
            }

            .input-person{
                background: url("../images/icons/person-2.svg") #fff 15px 50% no-repeat;
            }

            .forgot{
                margin-bottom: 25px;

                a{
                    font-size: 15px;
                    color: $dark1-grey;
                    text-decoration: underline;

                }
            }

            .submit{
                width: 100%;
                height: 54px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
                outline: none;
                border: 0;
                background-color: $accent;
                font-size: 18px;
                letter-spacing: 1px;
                color: #ffffff;

                &:hover{
                    background-color: darken($accent, 12.5%);
                }

                &:focus{
                    box-shadow: 0 0 20px $accent;
                }
            }

            .footer{
                text-align: center;
                padding-top: 20px;
            }
        }
    }

    footer{
        display: flex;
        height: 80px;
        align-items: center;

        .copyright{
            font-size: 12px;
        }
    }
}
