
$accent: #74d2ff;
$dark1-accent: #5ea4c9;
$dark2-accent: #3E8EB3;
$light-accent: #8CDBFF;

$light2-grey: #F6F6F6;
$light1-grey: #ececec;
$grey: #cbcbcb;
$dark1-grey: #767272;
$dark2-grey: #d0d0d0;

$black: #333333;
